*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
   /* colors */
   --main-bck: #0d0f1c;
   --dashboard-bck: #292a34;
   --btn-color: linear-gradient(108.49deg, #AF53FF 0%, #6EACFE 95.17%);
   /* others */
   --border-radius-high: 25px;
   --border-radius-midd: 12px;
   --border-radius-low: 8px;
}

body{
  background-color: var(--main-bck);
  padding: 2.5vh 2.5vw;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 400;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: linear-gradient(108.49deg, #AF53FF 0%, #6EACFE 95.17%);
  border-radius: 8px;
  color: #fff;
}

.basic-container{
  background: linear-gradient(180deg, #171822 0%, #171822 100%);
  border-radius: 12px;
  border: 1px solid #303241;
  box-sizing: border-box;
}
