*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
   /* colors */
   --main-bck: #0d0f1c;
   --dashboard-bck: #292a34;
   --btn-color: linear-gradient(108.49deg, #AF53FF 0%, #6EACFE 95.17%);
   /* others */
   --border-radius-high: 25px;
   --border-radius-midd: 12px;
   --border-radius-low: 8px;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-bck);
  background-size: cover;
  font-weight: 400;
  line-height: 1.6;

  /* min-height: 100vh; */
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: linear-gradient(108.49deg, #AF53FF 0%, #6EACFE 95.17%);
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.basic-container{
  background: linear-gradient(180deg, #171822 0%, #171822 100%);
  border-radius: 12px;
  border: 1px solid #303241;
}
